site_name: Rodux Documentation
repo_name: Roblox/rodux
repo_url: https://github.com/Roblox/rodux

theme:
  name: material
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

pages:
  - Home: index.md
  - Introduction:
    - Installation: introduction/installation.md
    - Motivation: introduction/motivation.md
    - The Store: introduction/store.md
    - Actions: introduction/actions.md
    - Reducers: introduction/reducers.md
  - Advanced:
    - Error Reporters: advanced/error-reporters.md
    - Middleware: advanced/middleware.md
    - Thunks: advanced/thunks.md
  - Complete Example: example.md
  - Debugging: debugging.md
  - Usage with Roact: withroact.md
  - API Reference: api-reference.md

markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - pymdownx.superfences
